.form-search{
    width:100%;
    position: relative;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    &__label{
        font-size: 14px;
        line-height: 188.55%;
    }
    &__input{
        font-size: 14px;
        padding: 16px 13px;
        border: 1px solid #E5E5E5;
          box-sizing: border-box;
            border-radius: 3px;
    }
    &__suggestions {
        position: absolute;
        z-index: 10;
        background-color: #fff;
        box-shadow: 0 1px 6px 3px rgba(0,0,0,.1);
        top: 100%;
        left: 0;
        right: 0;
}

    .suggestion-item{
    padding: 20px;
    box-sizing: border-box;
    cursor: pointer;
    transition: 200ms, all ease-in-out;
&__name{
    font-size: 14px;
    line-height: 140%;
    width:100%;
    font-weight: 700;
    padding-bottom: 5px;

}
&__index{

    display: inline-block;
    width:20%
}
&__city{
    display: inline-block;
    width: 20%;

}
&:hover{
    background-color: #F8F8F8;
}
}

}