@import './Fonts/fonts.scss';
@import "/normalize.css";

/// vars
$base-color:#2B2829;
$body-color:#E5E5E5;

body{
  font-family: Verdana,sans-serif;
  color: $base-color;
  background-color: $body-color;
}